*.vsidx
/3rdparty/*
!/3rdparty/tinygltf
!/3rdparty/imgui
!/3rdparty/glm
!/3rdparty/glm/include
!/3rdparty/glm/include/glm
/.vscode
/build/.vs
/build/*/x64
/build/x64
*.user
src/code_00_raytracer/.vscode/c_cpp_properties.json
*.json
build/code_00_raytracer/rendering.ppm
src/code_00_raytracer/main_bk.cpp
src/code_02_my_first_triangle/Source.cpp
